html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
}

canvas {
  display: block;
}

button {
  font-family: "Helvetica";
  height: 35px;
  width: 100px;
  background-color: #FFE600;
  color: rgb(0, 0, 0);
  border-radius: 60px;
}

input{
  height: 25px;
  border-radius: 60px;
   padding-left : 20px;

}

div{
  
}
